<div class="search-container">
<div class="search-header">
    <h2>Search Services</h2>
    <div class="search-box">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search for services...">
    <button (click)="search()">Search</button>
    </div>
    <div class="filters">
    <select [(ngModel)]="selectedCategory">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]=category>
            {{ category }}
        </option>
    </select>
    <select [(ngModel)]="selectedSalary">
        <option value="">All salaries</option>
        <option *ngFor="let price of prices" [value]=price>
            {{ price }}
        </option>
    </select>
    <select [(ngModel)]="selectedTags">
        <option value="">All Tags</option>
        <option *ngFor="let tag of tags" [value]=tag>
            {{ tag }}
        </option>
    </select>
    </div>
</div> 
<div class="search-results">
    <p *ngIf="!searchResults.length">No services found. Try adjusting your search criteria.</p>
    <div class="service-card" *ngFor="let offer of searchResults">
    <h3>{{offer.title}}</h3>
    <p> Category: {{offer.category}}</p>
    <p>Additional info: {{offer.additional_info}}</p>
    <p>Tags: {{offer.tags}}</p>
    <p>Timetable: {{offer.timetable}}</p>
    <p>Address: {{offer.address}}</p>
    <div class="service-footer">
        <span>{{offer.price}}</span>
        <button>Contact Provider</button>
    </div>
    </div>
</div>
</div>