<h2>{{ isEditMode ? 'Actualizar Oferta' : 'Crear Nueva Oferta' }}</h2>

<form (ngSubmit)="submitForm()">
  <div>
    <label>Title:</label>
    <input type="text" [(ngModel)]="offer.title" name="title" required />
  </div>

  <div>
    <label>Additional info:</label>
    <textarea [(ngModel)]="offer.additional_info" name="additional_info"></textarea>
  </div>

  <div>
    <label>Category:</label>
    <select [(ngModel)]="offer.category" name="category">
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div>
    <label>Price:</label>
    <select [(ngModel)]="offer.price" name="price">
      <option *ngFor="let price of prices" [value]="price">{{ price }}</option>
    </select>
  </div>

  <div>
    <label>Timetable:</label>
    <input type="text" [(ngModel)]="offer.timetable" name="timetable" />
  </div>

  <div>
    <label>Address:</label>
    <input type="text" [(ngModel)]="offer.address" name="address" />
  </div>

  <div>
    <label>Tags:</label>
    <select [(ngModel)]="offer.tags" name="tags">
      <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
    </select>
  </div>

  <div>
    <button type="submit">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
  </div>
</form>
